{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-bottom:450px">
    {% if not cart %}
    <div>
        <h1 class="text-center hw">Cart is Empty</h1>
    </div>
    <div>
        <strong><a href="{% url 'shop:allprodcat' %}">Continue Shopping</a> </strong>
    </div>
    {% else %}

    <div class="row mx-auto">
        <h1 style="width:100%;" class="hs">Shopping Cart</h1>
        <div class="col-sm-6">
            <table class="table">
                <tr>
                <th colspan="6" class="th">
                    YOUR ITEMS
                </th></tr>
                {% for i in cart %}
                <tr>
                    <td><img src="{{i.products.image.url}}" style="height:150px;width:150px;"></td>
                    <td>{{i.products.name}}</td>
                    <td>{{i.products.id}}<br>
                        Unit Price:{{i.products.price}}<br>
                        Quantity:{{i.quantity}}*{{i.products.price}}<br>
                    </td>
                    <td>{{i.subtotal}}</td>
                    {% if i.quantity < i.products.stock %}
                    <td><a href="{% url 'cart:Addcart' i.products.id %}" ><i class="fa-solid fa-plus"></i></a></td>
                    <td><a href="{% url 'cart:decreaser' i.products.id %}"> <i class="fa-solid fa-minus"></i></a></td>
                    <td><a href="{% url 'cart:dele' i.products.id %}"> <i class="fa-solid fa-trash"></i></a></td>
                    {% else %}
                    <td><a href="{% url 'cart:decreaser' i.products.id %}"> <i class="fa-solid fa-minus"></i></a></td>
                    <td><a href="{% url 'cart:dele' i.products.id %}"> <i class="fa-solid fa-trash"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
        <div class="col-sm-6">
            <table class="table">
                <th colspan="5" class="th">
                    CheckOut
                </th>
                <tr>
                    <th>TOTAL PRICE:{{total}}</th>
                </tr>
            </table>
            <a href="{% url 'shop:allprodcat' %}"> <button class="btn" href="">CONTINUE SHOPPING</button></a>
            <a href="{% url 'cart:accnt' %}"><button class="btn" href="">Place Order</button></a>
        </div>
    </div>
</div>
{% endblock %}