{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
   <div>
       <h3 class="h3">you have searched for {{query}}</h3>
   </div>
</center>

    <center>
    <div class="container" style="margin-bottom:100px;">
<div class="row" >
    {% for i in products %}
  <div class="col-md">
    <div class="card" style="width: 18rem;height:300px;">
  <img src="{{i.image.url}}" style="height:200px;width=100%;" class="card-img-top" alt="..." height="300px;" width="100%;">
  <div class="card-body" style="poistion:relative;">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text"> </p>

    <a href="{% url 'shop:prodetails' i.slug %}" class="btn btn-primary link1" style="position:absolute;bottom:0;">view Product</a>

  </div>
  </div>
  </div>
    {% empty %}
    <div>
        <p class="p1">0 results found</p>
    </div>
    {% endfor %}
</div>
</div>
</center>
</div>
{% endblock %}
